<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="VECTOR_HOST" source="VECTOR_LOG_HOST" defaultValue="vector" />
    <springProperty scope="context" name="VECTOR_PORT" source="VECTOR_LOG_TCP_PORT" defaultValue="6000" />
    <springProperty scope="context" name="ENVIRONMENT" source="APP_ENV" defaultValue="dev" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="VECTOR" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${VECTOR_HOST}:${VECTOR_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"backend-ecep","environment":"${ENVIRONMENT}"}</customFields>
        </encoder>
        <writeBufferSize>8192</writeBufferSize>
        <reconnectionDelay>5 seconds</reconnectionDelay>
    </appender>

    <appender name="ASYNC_VECTOR" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="VECTOR" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC_VECTOR" />
    </root>
</configuration>
